#profile img {
  max-width: 100px;
  border-radius: 50%;
  border: 3px solid #eee;
}

#profile-birth {
  font-size: 1.3rem;
}

#social-links {
  font-size: 3rem;
}

#profile-description {
  font-size: 1.2rem;
  margin-bottom: 5px;
  white-space: pre;
}

#profile-urls {
  list-style: none;
  padding-left: 0;
}

#profile-urls a {
  font-size: 1.3rem;
}

#tag-cloud a {
  font-size: 1.3rem;
  margin: 3px 0;
  display: inline-block;
}
