html {
  font-size: inherit;
}

body {
  font-family: 'Open Sans', "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #000;
}

html,
body {
  margin: 0;
}

a {
  transition-duration: .2s;
  color: #000;
  text-decoration: underline;
}

a:hover,
a:focus,
a:active {
  color: #000;
  outline: none;
  box-shadow: none;
}

a.tag {
  display: inline-block;
  font-size: .8rem;
  color: #999;
  padding: 2px 7px;
  border: 1px solid #eee;
  border-bottom: 2px solid #eee;
  margin-right: 5px;
  border-radius: 50px;
  text-decoration: none;
  margin-bottom: 5px;
}

a.tag:hover {
  color: #333;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5 ,h6 { margin: 0; }
h1 { font-size: 1.6rem; line-height: 2.4rem; }
h2 { font-size: 1.4rem; line-height: 2.1rem; }
h3 { font-size: 1.1rem; line-height: 1.7rem; }
h4 { font-size: 1rem; line-height: 1.5rem; }
h5 { font-size: 1rem; line-height: 1.5rem; }


header.site {
  padding: 2rem 0 3rem 0;
  text-align: center;
}

header.site .title {
  font-family: 'Marcellus SC', cursive;
  font-size: 2rem;
}

header.site .title a {
  text-decoration: none;
}

footer.site {
  padding: 3rem 0;
  text-align: center;
}

footer.site p {
  font-size: .8rem;
  margin-bottom: .5rem;
  color: #999;
}

aside.site .section header {
  position: relative;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
  padding: .5rem 0;
}

aside.site .section header:before {
  position: absolute;
  left: 10px;
  bottom: -11px;
  content: '';
  border-top: 5px solid #000;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
}

article.li {
  margin-bottom: 3rem;
}

article.li a {
  position: relative;
  text-decoration: none;
}

article.li .image {
  height: 12rem;
  background-color: #eee;
  background-position: center;
  background-size: cover;
}

article.li time {
  position: absolute;
  top: -5px;
  left: 15px;
  display: block;
  z-index: 1;
  white-space: nowrap;
  padding: 3px 7px;
  color: #fff;
  background-color: #333;
  font-size: .7rem;
  border: 1px solid #eee;
}

article.li .title {
  word-break: break-all;
}

article.li .summary {
  word-break: break-all;
  max-height: 5.5rem;
  overflow: hidden;
  color: #999;
}

.articles .col-sm-3 article.li .title {
  font-size: 1.2rem;
}

.sm article.li {
  margin-bottom: .5rem;
}

.sm article.li .image {
  float: left;
  width: 50px;
  height: 50px;
}

.sm article.li time {
  display: none;
}

.sm article.li .title {
  font-size: 1rem;
  margin-left: 60px;
  line-height: 1rem;
}

.sm article.li .summary {
  display: none;
}

article.single header {
  margin-bottom: 3rem;
}

article.single time {
  color: #999;
  font-size: .8rem;
}

article.single .image {
  height: 18rem;
  background-color: #eee;
  background-position: center;
  background-size: cover;
}

article.single .article-body {
  max-width: 650px;
  margin: 0 auto;
}

article.single .article-body h1:first-child,
article.single .article-body h2:first-child,
article.single .article-body h3:first-child,
article.single .article-body h4:first-child,
article.single .article-body h5:first-child,
article.single .article-body h6:first-child {
  margin-top: 0;
}

article.single .article-body h1 {
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

article.single .article-body h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

article.single .article-body h3,
article.single .article-body h4,
article.single .article-body h5,
article.single .article-body h6 {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
}

article.single .article-body h3 {
  font-weight: 900;
}

article.single .article-body h4:before {
  content: '\f0c8';
  font-family: 'Fontawesome';
  margin-right: 5px;
}

article.single .article-body p {
  line-height: 1.5rem;
  margin-bottom: 1rem;
  word-break: break-all;
}

article.single .article-body pre {
  padding: 0;
  border: none;
  border-radius: 2px;
}

article.single .article-body code:not(.hljs) {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  color: #000;
  font-size: .8rem;
}
