{{ define "title" }}{{ .Title }} - {{ end }}

{{ define "meta" }}
{{ partial "single_meta.html" . }}
{{ partial "single_json_ld.html" . }}
{{ end }}

{{ define "main" }}
{{ .Render "summary" }}

<div class="adj">
  <div class="mrow">
    {{ with .PrevInSection }}
    <div class="mcol c6">
      <header>Previous Article</header>
      {{ .Render "li_sm" }}
    </div>
    {{ end }}
    {{ with .NextInSection }}
    <div class="mcol c6">
      <header>Next Article</header>
      {{ .Render "li_sm" }}
    </div>
    {{ end }}
  </div>
</div>

{{ end }}
