{{ partial "header_before.html" . }}
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "mainEntityOfPage":{
      "@type":"WebPage",
      "@id":"{{ .Site.BaseURL }}"
    },
    "headline": "{{ .Title }} | {{ .Site.Params.titlefull }} {{ .Site.Params.titlesub}}",
    "image": {
      "@type": "ImageObject",
      "url": "",
      "height": 700,
      "width": 700
    },
    "datePublished": "{{ .Date.Format "2006-01-02T15:04:05JST" }}",
    "dateModified": "{{ .Date.Format "2006-01-02T15:04:05JST" }}",
    "author": {
      "@type": "Person",
      "name": "{{ .Site.Params.author }}",
      "image": "{{ .Site.BaseURL }}images/logo.png"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ .Site.Copyright }}",
      "logo": {
        "@type": "ImageObject",
        "url": "{{ .Site.BaseURL }}images/logo.png",
        "height": 60,
        "width": 60
      }
    },
    "description": "{{ .Description }}"
  }
</script>
{{ partial "header_after.html" . }}

<div class="container">

  <div class="row">
    <div class="col-md-9">

      <article class="single">
        <div class="image" style="background-image: url({{ $.Site.BaseURL }}images/{{ with .Params.image }}{{ . }}{{ else }}default.jpg{{ end }});"></div>
        <div class="body">
          <h1>{{ .Title }}</h1>
          {{ .Content }}
        </div>
      </article>

    </div>
    <div class="col-md-3">
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</div>

{{ partial "footer.html" . }}
