<div class="single">
  {{ partial "default_head.html" . }}

  <div class="row">
    <div class="col-sm-9">

      <article class="single">
        <header>
          <time>{{ with .Site.Params.DateForm }}{{ $.Date.Format . }}{{ else }}{{ $.Date.Format "Mon, Jan 2, 2006" }}{{ end }}</time>
          <div class="tags">{{ range .Params.tags }}<a href="{{ $.Site.BaseURL}}tags/{{ . }}" class="tag">{{ . }}</a>{{ end }}</div>
          <h1 class="title">{{ .Title }}</h1>
        </header>
        <div class="article-body">
          {{ with .Params.image }}<div class="image" style="background-image: url({{ $.Site.BaseURL }}/images/{{ . }});"></div>{{ end }}
          {{ .Content }}
        </div>
      </article>
    </div>

    <div class="col-sm-3">
      {{ partial "sidebar.html" . }}
    </div>

  </div>

  {{ partial "default_foot.html" . }}
</div>
