{{ partial "header_before.html" . }}
{{ partial "header_after.html" . }}

<div class="container">
  <div class="row">
    <div class="col-md-9">

      <h1 class="p-page-title">{{ .Title }}</h1>

      <ul class="h-inline">
        {{ range $key, $value := .Data.Terms }}<li><a href="/{{ $.Data.Plural }}/{{ $key | urlize }}/" class="{{ $.Data.Singular }}">{{ $key }}</a></li>{{ end }}
      </ul>

    </div>

    <div class="col-md-3">
      {{ partial "sidebar.html" . }}
    </div>

  </div>

</div>

{{ partial "footer.html" . }}
