<div class="col-md-12 col-sm-6 col-xs-12">
  <div class="text-center custom-partial">
    {{ partial "rectangle-header" . }}
  </div>
  <section class="sidebar-bordered">
    <h3>Profile</h3>
    {{ if isset .Site.Params "GravatarHash" }}
    <div id="profile">
      <div class="text-center">
        <img id="profile-photo" src="/images/nopicture.png" alt="profile">
      </div>
      <div class="data">
        {{ if isset .Site.Params "Birth" }}
        <span id="profile-birth">{{ .Site.Params.Birth }}</span>
        {{ end }}
        <h4 id="profile-username" class="post-title"></h4>
        <div id="social-links">
          {{ if isset .Site.Params "Facebook" }}
          <a href="https://www.facebook.com/{{ .Site.Params.Facebook }}" target="_blank"><i class="fa fa-facebook-square"></i></a>
          {{ end }}
          {{ if isset .Site.Params "Twitter" }}
          <a href="https://twitter.com/{{ .Site.Params.Twitter }}" target="_blank"><i class="fa fa-twitter-square"></i></a>
          {{ end }}
          {{ if isset .Site.Params "Github" }}
          <a href="https://github.com/{{ .Site.Params.Github }}" target="_blank"><i class="fa fa-github-square"></i></a>
          {{ end }}
        </div>
        <div id="profile-description"></div>
        <ul id="profile-urls" class="post-tags"></ul>
      </div>
    </div>
    {{ end }}
  </section>
</div>

<div class="col-md-12 col-sm-6 col-xs-12">
  <section>
    <h3>Tags</h3>
    {{ if .Site.Params.ShowTagCloud }}
    <div id="tag-cloud" class="text-center">
      {{ $baseurl := .Site.BaseURL }}
      {{ range $name, $value := .Site.Taxonomies.tags }}
      <!--a href="{{ $baseurl }}/tags/{{ $name | urlize }}" style="font-size: {{ add 8 (mul 3 $value.Count) }}px;"-->
      <a href="{{ $baseurl }}/tags/{{ $name | urlize }}">{{ $name }}</a>
      {{ end }}
    </div>
    {{ end }}
  </section>
</div>

<div class="col-md-12 col-sm-6 col-xs-12">
  <div class="text-center custom-partial">
    {{ partial "rectangle-footer" . }}
  </div>
</div>
