<aside class="l-sidebar">

  <div class="sections sidebar">
    {{ $order := .Site.Params.SidebarOrder | default ( slice "latests" "categories" "tags" ) }}

    {{ range $i, $key := $order }}

    {{ if eq ( $key | lower ) "latests" }}
    {{ partial "latests.html" $ }}
    {{ end }}

    {{ if eq ( $key | lower ) "categories" }}
    {{ partial "taxonomy.html" (dict "context" $ "key" $key "value" $.Site.Taxonomies.categories) }}
    {{ end }}

    {{ if eq ( $key | lower ) "tags" }}
    {{ partial "taxonomy.html" (dict "context" $ "key" $key "value" $.Site.Taxonomies.tags) }}
    {{ end }}

    {{ end }}
  </div>

</aside>
