{{ partial "default_head.html" . }}

<div class="row">
  <div class="col-md-9">
    <div id="posts">
      {{ partial "premium-header" . }}
      <div class="row">
        {{ range $index, $post := .Data.Pages }}
        {{ if eq .Type "post"}}
        {{ if le $index 3 }}
        <div class="col-sm-6">
          <article>
            <a href="{{ .Permalink }}" class="post post-topix">
              <header class="eyecatch text-center">
                <img src="{{ if isset .Params "eyecatch" }}/images/{{ .Params.eyecatch }}{{ else }}/images/nopicture.png{{end}}" alt="eyecatch">
              </header>
              <div class="date text-center">
                <span>{{ .Date.Format .Site.Params.DateForm }}</span>
              </div>
              <h2 class="title">{{ .Title }}</h2>
              <div class="summary">
                {{ .Summary }}
              </div>
            </a>
          </article>
        </div>
        {{ else }}
        <div class="col-md-3 col-sm-4 col-xs-6">
          <article>
            <a href="{{ .Permalink }}" class="post">
              <header class="eyecatch text-center">
                <img src="{{ if isset .Params "eyecatch" }}/images/{{ .Params.eyecatch }}{{ else }}/images/nopicture.png{{end}}" alt="eyecatch">
              </header>
              <div class="date text-center">
                <span>{{ .Date.Format .Site.Params.DateForm }}</span>
              </div>
              <h3 class="title">{{ .Title }}</h3>
            </a>
          </article>
        </div>
        {{ end }}
        {{ if eq $index 3 }}
        <div class="col-md-12">
          <div class="text-center custom-partial">
            {{ partial "premium-body" . }}
          </div>
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <aside id="site-sidebar">
      <div class="row">
        {{ partial "sidebar" . }}
      </div>
    </aside>
  </div>
</div>

{{ partial "default_foot.html" . }}
