
{{ partial "header_before.html" . }}
{{ partial "header_after.html" . }}

<div class="container">
  <div class="row">
    <div class="col-md-9">

      <div class="row">
        {{ range $key, $value := .Paginator.Pages }}
        {{ if lt $key 4 }}
        <div class="col-sm-6">
          {{ .Render "grid" }}
        </div>
        {{ else }}
        <div class="col-sm-4">
          {{ .Render "grid" }}
        </div>
        {{ end }}
        {{ end }}
      </div>

      {{ partial "pagination.html" . }}

    </div>

    <div class="col-md-3">
      {{ partial "sidebar.html" . }}
    </div>

  </div>

</div>

{{ partial "footer.html" . }}
